<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce Food App</title>
    <!-- CSS -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <!--  navigation  -->
            </ul>
        </nav>
        <form action="/food/search/" method="get">
            <input type="text" name="q" placeholder="Search for food...">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        {% block content %}
        <!-- content from child templates  -->
        {% endblock %}
    </main>

    <footer>
        <!-- footer content -->
    </footer>
</body>
</html>
