{% extends 'food/base.html' %}

{% block title %} Pizzas {% endblock %}

{% block content%}

    

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-8">
                <h2 class="title"> Our Pizzas</h2>
                <div class="row">
                    {% for pizza in pizzas %}
                    <div class="col-md-6 p-4">
                        <img class="picture" src="{{ pizza.pImage }}">
                        <h4 class="pt-3">{{ pizza.name }}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-inline">
                                <input class="form-check-input" type="radio" name="pizza_size_{{ pizza.id }}" checked>
                                {{ pizza.priceM }} $
                            </label>
                        </div>

                        <div class="form-check-inline">
                            <label class="form-check-inline">
                                <input class="form-check-input" type="radio" name="pizza_size_{{ pizza.id }}" >
                                {{ pizza.priceL }} $
                            </label>
                        </div>
                        
                        <div>
                            <button class="btn-info mt-3">Add to cart</button>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="col-md-4">


            </div>

        </div>
    </div>


    





{% endblock %}