.logo {
    margin-bottom: 10px;
}

.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* set z-index -1 to reveal the navbar */
    z-index: -1; 
}

.title {
    margin: 50px;
    text-align: center;
}

.picture {
    width: 100%;
    height: 300px; /* Adjust the height as per your preference */
    object-fit: cover;
    border-radius: 15px; /* Adjust the border-radius as per your preference */
}


.orders {
    position: relative;
    top: 100px;
}

.shell {
    width: 500px;
    min-height: 300px;
    background: rgb(196, 196, 196);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.del {
    background-color: rgb(205, 114, 114);
    color: rgb(250, 179, 179);
    height: 28px;
    width: 28px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.del:hover {
    background-color: rgb(210, 255, 192);
}

.del:before {
    /* content: "\00D7"; */
    font-size: 16px;
}

li {
    display: flex;
    align-items: center;
}

li > span {
    flex-grow: 1;
}

@media (max-width: 767px) {
    .title {
        margin: 30px;
    }

    .picture {
        max-height: 200px;
    }

    .orders {
        top: 50px;
    }

    .shell {
        width: 100%;
        min-height: 300px;
        padding: 10px;
        box-sizing: border-box;
    }
}

/* .bgcus {
    background-color: #000000;
}

.txtcus {
    background-color: #ffffff;
} */

.card-rectangle {
    border: none;
    border-radius: 0;
    box-shadow: none;
}


